.cards {
    display: grid; /* Muda o tipo de display */
    grid-template-columns: repeat(3, 300px); /* Muda o tipo de display */
    justify-content: center; /* Espaçamento entre os conteúdos e posição */
    gap: 2rem; /* Espaçamento entre os conteúdos */
    padding: 2rem;  /* "Infla" o elemento */
}

.divfofoca {
    background-color: #232f3e;
    border-radius: 1rem; /* Muda o raio da borda */
    color: #fff; /* Cor da fonte */
}

.divfofoca > img {
    width: 100%; /* Comprimento do elemento */
    height: 240px; /* Altura do elemento */
    object-fit: cover; /* Como a imagem fica dentro do elemento pai */
    border-radius: 1rem 1rem 0 0; /* Muda o raio da borda */
}

.divfofoca h4 {
    text-transform: uppercase; /* Transforma o texto todo em maiúsculo */
    font-size: 1rem; /* Tamanho da fonte */
    padding: 0.5rem; /* "Infla" o elemento */
    margin: 1rem; /* Muda a margem */
    border-bottom: 2px solid #ffa500; /* Muda margem abaixo */
}

.divfofoca div {
    justify-content: space-evenly; /* Espaçamento entre os conteúdos */
    display: flex; /* Muda o tipo de display */
    padding: 0.5rem; /* "Infla" o elemento */
}

.divfofoca a img{
    width: 50px; /* Comprimento do elemento */
    height: 50px; /* Altura do elemento */
    border-radius: 0.5rem; /* Muda o raio da borda */
}