* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    outline: none;
    border: none;
}

.cards {
    display: grid;
    grid-template-columns: repeat(3, 300px);
    justify-content: center;
    gap: 2rem;
    padding: 2rem;
}

.divfofoca {
    background-color: #232f3e;
    border-radius: 1rem;
    color: #fff;
}

.divfofoca > img {
    width: 100%;
    height: 240px;
    object-fit: cover;
    border-radius: 1rem 1rem 0 0;
}

.divfofoca h4 {
    text-transform: uppercase;
    font-size: 1rem;
    padding: 0.5rem;
    margin: 1rem;
    border-bottom: 2px solid #ffa500;
}

.divfofoca div {
    justify-content: space-evenly;
    display: flex;
    padding: 0.5rem;
}

.divfofoca a img{
    width: 50px;
    height: 50px;
    border-radius: 0.5rem;
}