* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    outline: none;
    border: none;
}

body {
    background-color: #eaeded;
}

main {
    display: flex;
    flex-direction: column;
}

.modal {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 2;
}

.formFofoca {
    display: none;
    color: #000;
    position: fixed;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    background-color: #f3f3f3;
    border: 2px solid #131921;
    border-radius: 0.5rem;
    width: 500px;
    height: auto;
    padding: 20px;
    margin: 3rem auto 3rem auto;
    z-index: 3;
}

#btnFechar {
    position: absolute;
    right: 1rem;
    top: 1rem;
    background-color: transparent;
    cursor: pointer;
    padding: 5px 10px;
}

#btnFechar .fa-times {
    font-size: 20px;
    color: #000;
}

.formFofoca h2 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 1rem;
}

.formFofoca p {
    font-size: 20px;
    color: #f00;
    margin-bottom: 1rem;
}

.formFofoca div {
    margin-bottom: 1rem;
    display: flex;
    flex-wrap: wrap;
}

.formFofoca label {
    margin-bottom: 0.2rem;
    font-size: 20px;
    cursor: pointer;
}

.formFofoca input,
.formFofoca textarea {
    width: 100%;
    border: 2px solid #000;
    border-radius: 0.5rem;
    padding: 0.5rem;
    transition: border .3s;
    resize: none;
}

#counter {
    margin-left: auto;
    margin-right: 0.3rem;
    font-size: 1.2rem;
}

.formFofoca input:hover,
.formFofoca input:focus,
.formFofoca textarea:hover,
.formFofoca textarea:focus {
    border: 2px solid #ffa500;
}

#addCard {
    font-weight: 600;
    padding: 0.5rem 1.5rem 0.5rem 1.5rem;
    background-color: #ffa500;
    outline: none;
    margin-left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    border: 2px solid transparent;
    border-radius: 0.5rem;
    transition: border .3s;
}

#addCard:hover {
    border: 2px solid #131921;
}

.cards {
    display: grid;
    grid-template-columns: repeat(4, 300px);
    justify-content: center;
    gap: 1rem;
    padding: 2rem;
}

.divfofoca {
    position: relative;
    background-color: #232f3e;
    border-radius: 1rem;
    color: #fff;
}

.divfofoca img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 1rem 1rem 0 0;
}

.divfofoca h2 {
    text-transform: uppercase;
    font-size: 1rem;
    padding: 0.5rem 0;
    margin:  0 1rem;
    border-bottom: 2px solid #ffa500;
}

.divfofoca p {
    font-size: .9rem;
    margin: 1rem;
}

.divfofoca button {
    position: absolute;
    background-color: #ffa500;
    font-size: 1rem;
    padding: 0.1rem 0.3rem;
    border-radius: 1rem;
    left: 50%;
    bottom: -0.5rem;
    transform: translateX(-50%);
    cursor: pointer;
}

.divfofoca button i {
    transform: rotate(90deg);
    transition: transform;
}

.divfofoca button i:hover {
    transform: rotate(90deg);
}