/* Responsividade para telas com largura máxima de 1024px*/
@media (max-width: 1440px) {
    
    main .cards {
        grid-template-columns: repeat(3, 300px);
    }
    
    .formFofoca {
        width: 400px;
        height: auto;
    }

    .contato {
        width: 400px;
        height: auto;
    }
}

/* Responsividade para telas com largura máxima de 1024px*/
@media (max-width: 1024px) {
    
    main .cards {
        grid-template-columns: repeat(3, 3fr);
    }
    
    .formFofoca {
        width: 400px;
        height: auto;
    }

    .contato {
        width: 400px;
        height: auto;
    }
}

/* Responsividade para telas com largura máxima de 768px */
@media (max-width: 768px) {
    main .cards {
        grid-template-columns: repeat(2, 2fr);
    }
    
    .formFofoca {
        width: 300px;
        height: auto;
    }
    
    .contato {
        width: 300px;
        height: auto;
    }
}

/* Responsividade para telas com largura máxima de 425px*/
@media (max-width: 375px) {
    main .cards {
        grid-template-columns: 1fr;
    }

    .formFofoca {
        width: 200px;
        height: auto;
    }

    .contato {
        width: 200px;
        height: auto;
    }
}

.imagem {
    display: none;
    
}
 
@media (max-width:320px) {
    main *, footer *, header *, section *{
        display:none;
    }
    
    .imagem img {
        width: 75px;
    }
    .imagem {
       display: flex;
        position: fixed;
        left: 0;
        top: 50%;
        width: 100%;
        justify-content: space-between;
    }
}   
/*
@media (min-width:320px) { /* smartphones, portrait iPhone, portrait 480x320 phones (Android)  }
@media (min-width:480px) { /* smartphones, Android phones, landscape iPhone  }
@media (min-width:600px) { /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android)  }
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops }
@media (min-width:1281px) { /* hi-res laptops and desktops  } */
/* Responsividade para telas com largura máxima de 1024px*/
