* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    outline: none;
    border: none;
}

/* HEADER */

header {
    position: fixed;
    width: 100%;
    z-index: 1;
    background-color: #131921;
    padding: 1rem;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav img {
    width: 60px;
    height: auto;
    border-radius: 0.5rem;
}

nav div {
    display: flex;
}

nav button {
    font-weight: 600;
    padding: 0.5rem 1.5rem 0.5rem 1.5rem;
    background-color: #ffa500;
    outline: none;
    cursor: pointer;
    border: 2px solid transparent;
    border-radius: 0.5rem;
    transition: border .3s;
}

nav button:hover {
    border: 2px solid #fff;
}

nav ul {
    display: flex;
    align-items: center;
}

nav li {
    margin-left: 1rem;
}

nav li a {
    text-decoration: none;
    border: 1px solid transparent;
    border-radius: 0.5rem;
    transition: border;
}

nav li a:focus,
nav li a:hover {
    border: 1px solid #fff;
}

nav li a {
    font-size: 1.2rem;
    font-weight: 400;
    color: #fff;
    padding: 0.2rem 0.8rem 0.2rem 0.8rem;
}

/* /HEADER */



/* MAIN */

main {
    padding: 90px 0 18px 0;
    min-height: 90vh;
}

/* /MAIN */



/* FOOTER */

footer {
    position: absolute;
    width: 100%;
    background-color: #131921;
    padding: 2.4rem;
    text-align: center;
}

footer p {
    color: #fff;
}

/* /FOOTER */

/* FIXED BUTTON */
#fixedButton {
    background-color: #131921;
    position: fixed;
    right: 3rem;
    bottom: 7rem;
    border-radius: 0.6rem;
    border: 2px solid #fff;
}
#fixedButton img{
    width: 4.5rem;
    filter: invert(1);
}

/* /FIXED BUTTON */