/* HEADER */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #131921;
}

header > * {
    margin: 1rem;
}

header img {
    width: 60px;
    height: auto;
    border-radius: 0.5rem;
}

header ul {
    display: flex;
    gap: 1rem;
}

header button {
    font-weight: 600;
    padding: 0.5rem 1.5rem 0.5rem 1.5rem;
    background-color: #ffa500;
    outline: none;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 0.5rem;
    transition: border .3s;
}

header button:hover {
    border: 1px solid #fff;
}

header ul > a {
    text-decoration: none;
    border: 1px solid transparent;
    border-radius: 0.5rem;
    transition: border;
}

header ul > a:focus, header ul > a:hover {
    border: 1px solid #fff;
}

header a li {
    font-size: 1.2rem;
    font-weight: 400;
    color: #fff;
    padding: 0.2rem 0.8rem 0.2rem 0.8rem;
}

/* /HEADER */



/* FOOTER */

footer {
    position: absolute;
    width: 100%;
    text-align: center;
    background-color: #131921;
    padding: 2.4rem;
}

footer p {
    color: #fff;
}

/* /FOOTER */